.root {
    -fx-background-image: url("../imagenes/background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.texto-boton {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.title {
    -fx-font-weight: bold;
    -fx-font-size: 32px;
    -fx-text-fill: rgb(255, 255, 255);
}