.titulo {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.total {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.btnFinalizar {
    -fx-background-color: rgb(0, 122, 255);
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-background-radius: 8px;
}

.btnFinalizar:hover {
    -fx-background-color: rgb(0, 82, 204);
}

.btnFinalizar:pressed {
    -fx-background-color: rgb(0, 67, 170);
}